


<div class="row">
  <div class="col-sm-6">
  <div class="one">
    <h1 id = "Finances">Finances</h1>
    </div>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_finance_path, class: 'btn btn-primary' do %>
    Add New Finance
  <% end %>
  </div>
</div>

<div>
  <table class="content-table">
    <thead>
      <tr class = "active-row">
    

            <th>Child</th>
            <th>Balance</th>
            <th>Expenses</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @finances.each do |finance| %>
        <%= content_tag :tr, id: dom_id(finance), class: dom_class(finance) do %>
          

                      <td><%= finance.child.username %></td>
                      <td><%= finance.balance %></td>
                      <td><%= finance.expenses %></td>
          
          
            <td><%= link_to 'Show', finance %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<img id = "Logo" src = "https://cdn.discordapp.com/attachments/1071114654534860891/1208753249281249321/image.png?ex=65e46e30&is=65d1f930&hm=914efb907392d0fb407f664bc1df4503102fe12c3e6a1e04ecde05e378da2030&">
