<div class="page-header">
  <%= link_to finances_path, class: 'btn btn-default' do %>
    All Finances
  <% end %>
  <%= link_to edit_finance_path(@finance), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show finance</h1>
</div>

<dl class="dl-horizontal">
  <dt>Child:</dt>
  <dd><%= @finance.child.username %></dd>
  <dt>Balance:</dt>
  <dd><%= @finance.balance %></dd>
  <dt>Expenses:</dt>
  <dd><%= @finance.expenses %></dd>
</dl>
