


<div class="row">
  <div class="col-sm-6">
    <h1>Children</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_child_path, class: 'btn btn-primary' do %>
    Add New Child
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>User</th>
            <th>Username</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @children.each do |child| %>
        <%= content_tag :tr, id: dom_id(child), class: dom_class(child) do %>
          

                      <td><%= child.user %></td>
                      <td><%= child.username %></td>
          
          
            <td><%= link_to 'Show', child %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
