


<div class="row">
  <div class="col-sm-6">
  <div class="one">
    <h1 id = "Children">Children</h1>
    </div>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_child_path, class: 'btn btn-primary' do %>
    Add New Child
  <% end %>
  </div>
</div>

<div >
  <table class="content-table">
    <thead>
      <tr class = "active-row">
    

            <th>User</th>
            <th>Username</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @children.each do |child| %>
        <%= content_tag :tr, id: dom_id(child), class: dom_class(child) do %>
          

                      <td><%= child.user.name %></td>
                      <td><%= child.username %></td>
          
          
            <td><%= link_to 'Show', child %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<img id = "Logo" src = "https://cdn.discordapp.com/attachments/1071114654534860891/1208753249281249321/image.png?ex=65e46e30&is=65d1f930&hm=914efb907392d0fb407f664bc1df4503102fe12c3e6a1e04ecde05e378da2030&">
