
 <link rel="stylesheet" href="styles.css" />

  
<div class="one">
<h1>Dashboard</h1>  
</div>

<div>

  <table class="content-table">
    <thead>
      <tr class  = "active-row">
        <th>Child</th>
        <th>Balance</th>
        <th>Expenses</th>
        <th>Show Task List</th>
        <th>Show Gifts</th>
      </tr>
    </thead>
    <tbody>
      <% @children.each do |child| %>
        <% child.task_lists.each do |task_list| %>
            <% child.finances.each do |finance| %>
                <% child.gifts.each do |gift| %>
          <tr>
            <td><%= child.username %></td>
            <td><%= finance.balance %></td>
            <td><%= finance.expenses %></td>
            <td><%= link_to 'Show Task List', task_lists_path %></td>
            <td><%= link_to 'Show Gifts List', gifts_path(gift) %></td>



          </tr>
        <% end %>
        <% end%>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<img id = "Logo" src = "https://cdn.discordapp.com/attachments/1071114654534860891/1208753249281249321/image.png?ex=65e46e30&is=65d1f930&hm=914efb907392d0fb407f664bc1df4503102fe12c3e6a1e04ecde05e378da2030&">

