
 <link rel="stylesheet" href="styles.css" />

<div class="row">
  <div class="col-sm-6">
  <div class = "one">
    <h1 id = "Gift">Gifts</h1>
    </div>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_gift_path, class: 'btn btn-primary' do %>
    Add New Gift
  <% end %>
  </div>
</div>

<div >
  <table class= "content-table">
    <thead>
      <tr class = "active-row">
    
        <th>Name</th>
    

            <th>Child</th>
            <th>Price</th>
            
      </tr>
    </thead>

    <tbody>
      <% @gifts.each do |gift| %>
        <%= content_tag :tr, id: dom_id(gift), class: dom_class(gift) do %>
          
            <td><%= link_to gift.name, gift %></td>
          

                      <td><%= gift.child.username %></td>
                      <td><%= number_to_currency(gift.price)%></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<img id = "Logo" src = "https://cdn.discordapp.com/attachments/1071114654534860891/1208753249281249321/image.png?ex=65e46e30&is=65d1f930&hm=914efb907392d0fb407f664bc1df4503102fe12c3e6a1e04ecde05e378da2030&">
