<div class="page-header">
  <%= link_to gifts_path, class: 'btn btn-default' do %>
    All Gifts
  <% end %>
  <%= link_to edit_gift_path(@gift), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show gift</h1>
</div>

<dl class="dl-horizontal">
  <dt>Child:</dt>
  <dd><%= @gift.child.username %></dd>
  <dt>Name:</dt>
  <dd><%= @gift.name %></dd>
  <dt>Price:</dt>
  <dd><%= @gift.price %></dd>
</dl>

<img id = "Logo" src = "https://cdn.discordapp.com/attachments/1071114654534860891/1208753249281249321/image.png?ex=65e46e30&is=65d1f930&hm=914efb907392d0fb407f664bc1df4503102fe12c3e6a1e04ecde05e378da2030&">
