<div class="row">
  <div class="col-sm-6">
  <div class = "one">
  
    <h1 id = "Task">Task List</h1>
    </div>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to 'Add New Task List', new_task_list_path, class: 'btn btn-primary' %>
  </div>
</div>

<div>
  <table class="content-table">
    <thead>
      <tr class = "active-row">
        <th>Child Name</th>
        <th>Title</th>
        <th>Price</th>
        <th>Completed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @task_lists.each do |task_list| %>
        <tr id="<%= dom_id(task_list) %>" class="<%= dom_class(task_list) %>">
          <td><%= task_list.child.username %></td>
          <td><%= task_list.title %></td>
          <td><%= number_to_currency(task_list.price) %></td>
          <td><%= task_list.completed ? 'Yes' : 'No' %></td>
          <td><%= link_to 'Show', task_list_path(task_list) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<img id = "Logo" src = "https://cdn.discordapp.com/attachments/1071114654534860891/1208753249281249321/image.png?ex=65e46e30&is=65d1f930&hm=914efb907392d0fb407f664bc1df4503102fe12c3e6a1e04ecde05e378da2030&">
