<div class="row">
  <div class="col-sm-6">
    <h1>Task List</h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to 'Add New Task List', new_task_list_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Child Name</th>
        <th>Title</th>
        <th>Price</th>
        <th>Completed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @task_lists.each do |task_list| %>
        <tr id="<%= dom_id(task_list) %>" class="<%= dom_class(task_list) %>">
          <td><%= task_list.child.username %></td>
          <td><%= task_list.title %></td>
          <td><%= number_to_currency(task_list.price) %></td>
          <td><%= task_list.completed ? 'Yes' : 'No' %></td>
          <td><%= link_to 'Show', task_list_path(task_list) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
